<div class="row p-2">
    <h1>Hard & Soft Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [showUnits]="false"
            [title]="'HTML'"
            [titleColor]="'#fefefe'"
            [showSubtitle]="false"
            [outerStrokeWidth]="13"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'blue'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="700">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="75"
            [radius]="100"
            [showUnits]="false"
            [title]="'CSS'"
            [titleColor]="'#fefefe'"
            [showSubtitle]="false"
            [outerStrokeWidth]="13"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'blue'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="700">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="65"
            [radius]="100"
            [showUnits]="false"
            [title]="'JavaScript'"
            [titleColor]="'#fefefe'"
            [showSubtitle]="false"
            [outerStrokeWidth]="13"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'blue'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="700">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [showUnits]="false"
            [title]="'Ingles'"
            [titleColor]="'#fefefe'"
            [showSubtitle]="false"
            [outerStrokeWidth]="13"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'blue'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="700">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="100"
            [radius]="100"
            [showUnits]="false"
            [title]="'Trabajo en equipo'"
            [titleColor]="'#fefefe'"
            [showSubtitle]="false"
            [outerStrokeWidth]="13"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'blue'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="700">
        </circle-progress>
    </div>
</div>
